[jasField]

[Worklist]
==
<footer>
     <div class="container">
          <div class="row">
               <div class="col-md-3 col-sm-3">
                    <i class="fa fa-magnet"></i>
               </div>
               <div class="col-md-4 col-sm-4">
                    <p>{{ jasField.get ('footer_address') }}</p>
               </div>
               <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-3">
                    <p><a href="mailto:youremail@gmail.com">{{ jasField.get ('footer_email') }}</a></p>
                    <p>{{ jasField.get ('footer_phone') }}</p>
               </div>
               <div class="clearfix col-md-12 col-sm-12">
                    <hr>
               </div>
               <div class="col-md-6 col-sm-6">
                    <div class="footer-copyright">
                         <p>{{ jasField.get ('footer_copyright') }}</p>
                    </div>
               </div>
               <div class="col-md-6 col-sm-6">
                    <ul class="social-icon">
                         <li><a href="{{ jasField.get ('footer_fb_link') }}" class="fa fa-facebook"></a></li>
                         <li><a href="{{ jasField.get ('footer_twitter_link') }}" class="fa fa-twitter"></a></li>
                         <li><a href="{{ jasField.get ('footer_linkedin_link') }}" class="fa fa-linkedin"></a></li>
                    </ul>
               </div>   
          </div>
     </div>
</footer>