url = "/project/:slug"
layout = "default"
title = "single-project"

[builderDetails]
modelClass = "admin\jas\Models\Project"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "name"
notFoundMessage = "Record not found"

[Worklist]

[jasField]
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}
   
{% else %}
    {{ notFoundMessage }}
{% endif %}


<section id="single-project">
     <div class="container">
          <div class="row">
               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <h1>{{ record.name }}</h1>
                    <p>{{ record.short_description|raw }}</p>
                    <a href="#"><i class="fa fa-long-arrow-right"></i> View Website</a>
                    <div class="col-md-12 col-sm-12">
                         <img src="{{ record.image.thumb(auto, auto, {mode:'exact'}) }}" class="img-responsive" alt="Portfolio">
                    </div>
               {% for image in record.images %}

                    <div class="col-md-6 col-sm-6">
                         <img src="{{ image.thumb(auto, auto, {mode:'exact'}) }}" class="img-responsive" alt="Portfolio">
                    </div>

               
               {% endfor %}
                    <div class="clearfix"></div>

                    <div class="col-md-4 col-sm-4">
                         <h3>Date</h3>
                         <p>{{ record.date }}</p>
                    </div>

                    <div class="col-md-12 col-sm-12 text-center">
                         <p>{{ record.description|raw }}</p>
                         <strong>{{ record.signature }}</strong>
                    </div>
               </div>
          </div>
     </div>
</section>